{% include "header.html" %}
<body class="bg-light">
<main class="h-100">

    <div class="d-flex justify-content-center align-items-center mt-5 pb-3">
        <img class="logo " alt="Pastry Delight" src="{{ url_for('static', filename='images/pastrydelight.png') }}">
        <h3 class="text-center">My Cart</h3>
    </div>

    <div class="container mb-5 ">
        {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == "success" %}
        <div class="alert alert-secondary mt-3 fs-6 text-center" role="alert">
            {{ message }}
        </div>
        {% endif %}


        {% if category == "error" %}
        <div class="alert alert-danger mt-3 fs-6 text-center" role="alert">
            {{message }}
        </div>
        {% endif %}

        {%endfor%}
        {% endif %}

        {%endwith%}
        {% if cart %}
        <form method="post">
        <div class="row">
            <div class="col-md-8">


                    {% for item in cart %}
                    <div class="d-flex justify-content-center border border-3 border-warning p-3 bg-white">
                        <div class="me-2">
                            <a href="{{ url_for('remove_item', item_id = item.id) }}"
                               class="fs-7 rounded-4 btn btn-sm btn-danger">
                                X
                            </a>
                        </div>
                        <div class="d-flex justify-content-end align-items-center me-2">
                            <img id="card_item_img"
                                 src="{{ url_for('static', filename='images/products/'+item.img_path) }}"
                                 class="cart_img"/>
                        </div>
                        <div class="">
                            <h6 id="cart_item_name">{{ item.name }}</h6>
                            <div id="cart_item_desc" class=" fs-6">{{ item.description}}</div>

                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text bg-warning fw-bold" id="inputGroup-sizing-sm">
                                    Quantity
                                </span>
                                <input class="border-1 border-warning w-25 fw-bold text-dark"
                                       id="cart_item_qty{{ item.id }}"
                                       min="1" name="cart_item_qty{{ item.id }}" required="" type="number"
                                       value="{{ item.qty }}">
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <span class="me-1 fs-5 text-muted fw-bold">Php</span>
                            <span id="cart_item_price" class="text-danger fw-bold">{{ item.price }}</span>

                        </div>
                    </div>
                    {% endfor %}

                <div class="row">
                    <a href="{{ url_for('home') }}" class="btn btn-link d-flex justify-content-start fw-bold">
                        <i class="bi bi-arrow-left-circle-fill"></i>&nbsp;Back to Shop
                    </a>
                </div>
            </div>
            <div class="col-md-4">

                <div class="border-warning bg-white text-dark p-3 border border-3 fw-bold fs-6">
                    <div class="d-flex justify-content-between">
                        <span class="text-muted">Subtotal</span>
                        <span id="order_subtotal" class="mw-3 text-muted">{{ '%0.2f' % order.subtotal|float }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="text-muted me-3">Discount</span>
                        <span id="order_discount" class="">{{ '%0.2f' % order.discount|float }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="text-muted me-3 fs-7">Discount Code</span>
                        <div class="input-group input-group-sm mb-3 justify-content-end">
                          <input type="text" class="fs-7 input-sm w-75" name="discount_code" id="discount_code" placeholder="Code" value="{{ order.discount_code }}" >
                          <span class="input-group-append" >
                              <button id="btn_discount" class="btn btn-sm btn-success" type="button"><i class="bi bi-send-plus-fill"></i></button>
                          </span>
                        </div>

                    </div>
                    <hr/>
                    <div class="d-flex justify-content-between">
                        <span class="text-muted">Total</span>
                        <span id="order_total" class="mw-3 fs-3">{{ '%0.2f' % order.total|float }}</span>
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <input class="bg-orange border-0 btn btn-primary btn-md btn btn-dark mt-3" id="submit_btn"
                           name="submit_btn"
                           type="submit"
                           value="Check Out">

                </div>
            </div>
        </div>


        </form>
        {% else %}
        <div class="d-flex align-items-start justify-content-center vh-50">
            <div class="alert alert-secondary fs-6 text-center" role="alert">
                There are no items in your cart.
            </div>
        </div>

        <div class="row">
            <a href="{{ url_for('home') }}" class="btn btn-link d-flex justify-content-center fw-bold fs-6">
                <i class="bi bi-bag-heart-fill"></i>&nbsp;Browse Shop
            </a>
        </div>
        {% endif%}

    </div>

</main>
</body>
{% include "footer.html" %}