{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}
<main>

    <div class="d-flex justify-content-center">

        <div class="col-md-10 p-3">

            <h1 class="mt-3">My Orders</h1>
            <div class="row">
                <div class="border border-1 border-secondary bg-light my-3 p-3">
                    <h6>Search Order</h6>
                    <hr/>
                    <div class="fs-7">
                        {{ render_form(form) }}
                    </div>

                </div>
            </div>

            {% with messages = get_flashed_messages(with_categories=true)%}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == "success" %}
            <div class="alert alert-success mt-3 fs-6" role="alert">
                {{ message }}
            </div>
            {% endif %}


            {% if category == "error" %}
            <div class="alert alert-danger mt-3 fs-6" role="alert">
                <i class="bi bi-exclamation-octagon-fill me-2"></i>{{message }}
            </div>
            {% endif %}

            {%endfor%}
            {% endif %}

            {%endwith%}
             {% if orders.total > 0 %}
            <div class="justify-content-between d-flex align-items-center bg-light px-2">
                <div class="fs-7 fst-italic ">
                    {{ orders.total }} record(s) found
                </div>
                <div class="py-3 fs-6 fw-bold">
                    Page
                    {% for i in range(1,orders.pages+1): %}
                    <a href="{{ url_for('order_list',page=i) }}"
                       class="btn btn-sm {% if orders.page == i %}btn-dark{%else%} btn-light{%endif%}">
                        {{ i }}
                    </a>

                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <hr/>
            <table class="table fs-6">
                <thead>
                    <tr>
                        <th></th>
                        <th>Date </th>
                        <th>Order Number </th>
                        <th>Amount </th>
                        <th>Status </th>
                    </tr>
                </thead>
                <tbody>
                {% if orders.total == 0 %}
                    <tr>
                        <td colspan="5">
                            <div class="alert alert-secondary mt-3 fs-6" role="alert">
                                No records found
                            </div>
                        </td>
                    </tr>
                {% else %}
                {% for order in orders:%}
                    <tr>
                        <td>
                              <span class="fw-bold text-muted fs-7 pe-1">{{ ((orders.page * orders.per_page) - (orders.per_page)) + loop.index }})</span>

                        </td>
                        <td>{{ order.order_date }}</td>
                        <td>
                            <a href="{{ url_for('order_details',order_id=order.id) }}" class="btn btn-sm btn-warning">
                                <i class="bi bi-box-arrow-up-right"></i>
                                {{ order.order_num }}
                            </a>
                        </td>
                        <td>
                            {{ order.total }}

                            {% if order.status == 'PENDING PAYMENT' %}
                                <a href="{{ url_for('open_stripe_link',order_id=order.id) }}" class="btn btn-info btn-sm fs-7" >
                                    <i class="bi bi-credit-card"></i> Pay
                                </a>
                            {% endif%}
                        </td>
                        <td>{{ order.status }}
                            {% if order.status == 'PENDING PAYMENT' %}

                            <a href="{{ url_for('cancel_order',order_id=order.id) }}" class="btn btn-danger btn-sm fs-7" >
                                <i class="bi bi-bag-x-fill"></i> Cancel Order
                            </a>
                            {% endif%}
                        </td>
                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>

    </div>
</main>
{% include "footer.html" %}
