{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form , render_field %}
<body class="body_home">
<main>


    <div class="container mb-5 ">

        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8 bg-white p-5">
                <h1 class="">Profile</h1>
                {% with messages = get_flashed_messages(with_categories=true)%}
                    {% if messages %}
                         {% for category, message in messages %}
                            {% if category == "success" %}
                            <div class="alert alert-success mt-3 fs-6 text-center" role="alert">
                                {{ message }}
                            </div>
                            {% endif %}


                            {% if category == "error" %}
                            <div class="alert alert-danger mt-3 fs-6 text-center" role="alert">
                                {{message }}
                            </div>
                            {% endif %}

                        {%endfor%}
                    {% endif %}

                {%endwith%}
                <form class="form" method="POST">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col-md-4 d-flex align-items-start">
                            <i class="bi bi-person-square profile_icon"></i>
                        </div>
                        <div class="col-md-8 fs-6">
                            {{ render_field(form.fname) }}
                            {{ render_field(form.mname) }}
                            {{ render_field(form.lname) }}
                        </div>
                    </div>

                    <div class="row fs-6">
                        <div class="col-md-6">
                            {{ render_field(form.email) }}
                        </div>
                        <div class="col-md-6">
                            {{ render_field(form.contact_no) }}
                        </div>
                    </div>
                    <div class="row fs-6">
                        {{ render_field(form.address) }}
                    </div>
                    <div class="row fs-6">
                        <div class="col-md-8">
                            {{ render_field(form.country) }}
                        </div>
                        <div class="col-md-4">
                            {{ render_field(form.postal_code) }}
                        </div>
                    </div>
                    <div class="row">
                        {{ render_field(form.password) }}
                    </div>
                    <div class="row my-3">

                        <div class="text-end">
                            {{ render_field(form.submit,value="Save changes",class_="bg-dark") }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

</main>
</body>
{% include "footer.html" %}